<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/jquery/jquery.js"></script>
        <link href="~/content/site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="lead">
                        <img class="img-responsive" src="~/Images/bethanylogo.png" alt="Bethany's Pie Shop" />
                    </p>
                </div>
                <div class="col-md-9">
                    @RenderBody();
                </div>
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year Gustavo Sampaio</p>
            </footer>
        </div>
    </body>
</html>
